#navbar-nav {
  .btn {
    background-color: $grey-dark;
    transition: none;

    &:hover {
      background-color: $grey-med;
      border-color: $grey-med;
    }
  }
}

.navbar-light {

  .navbar-brand {
    color: $grey-dark;
    font-size: 1.25rem;
  }

  .navbar-nav {

    .nav-link {
      color: $grey-dark;
    }
  }

  .link-no-style {
    //disable original focus style
    &:focus,
    &:hover {
      text-decoration: none;
    }

    &.active {
      span {
        position: relative;

        @include media-breakpoint-up(sm) {
          &::after {
            @include link-text-decoration;
            visibility: visible;
            transform: scaleX(.75);
          }
        }
      }
    }
  }
}