.navbar-brand {
  color: $grey-dark;
}

#navbar-nav {
  .btn {
    background-color: $grey-dark;
    transition: none;

    &:hover {
      background-color: $grey-med;
      border-color: $grey-med;
    }
  }
}